.wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 100vh;
  max-height: 100vh;
}

input {
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 600;
  min-height: 40px;
  width: 100%;
}

pre {
  margin-top: 10px;
  overflow-y: scroll;
  background-color: #f7f7f7;
}


